<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.9" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.6.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.59" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="20.3.0.58" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.3.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="20.3.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="20.3.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart" version="20.3.0.58" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart.WPF" version="20.3.0.58" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="5.0.0.2012" targetFramework="net472" />
</packages>